{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <div class="row mt-5">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="text-center">Please sign in</h1>
            <div class="col-lg-6 col-12 mx-auto border-5 rounded shadow p-5 mt-5 bg-gradient">
                <div class="mb-3">
                    <label for="inputUsername">Username</label>
                    <input type="text" value="{{ last_username }}"
                           name="username" id="inputUsername"
                           class="form-control" required autofocus>
                </div>
                <div class="mb-3">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password"
                           id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                </div>


                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}
                <div class="d-grid">
                    <button class="btn btn-lg btn-primary" type="submit">
                        se connecter
                    </button>
                </div>

            </div>

        </form>
    </div>
{% endblock %}
