{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut cumque dolore error expedita itaque iure iusto magni, molestiae numquam omnis provident quae repellat sint soluta tempora unde voluptate voluptatibus.</p>
    </div>

    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3 mt-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-center">
                                <a href="" class="text-decoration-none">{{ property.title }}</a>
                            </h5>
                            {% if property.image %}
                                <img src="{{ property.image }}" alt="">
                                {% else %}
                                    <img src="{{ asset('assets/img/placeholder.jpg') }}" alt="" class="img-fluid">
                            {% endif %}

                            <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                            <div class="" >{{ property.price|format_currency('EUR') }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
