{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="row mt-5">
        <h1 class="text-center">Register</h1>
        <div class="col-lg-6 col-12 mx-auto border-5 rounded shadow p-5 mt-5 bg-gradient">
            {{ form_start(registrationForm) }}
            <div class="row">
                <div class="col-6 mx-auto ">
                    {{ form_widget(registrationForm.username) }}
                </div>
                <div class="col-12 mt-3">
                    <div class="row">
                        <div class="col-6 ">
                            {{ form_widget(registrationForm.plainPassword.first) }}
                        </div>
                        <div class="col-6 ">
                            {{ form_widget(registrationForm.plainPassword.second) }}
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3 ">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>

            </div>

            {{ form_end(registrationForm) }}
        </div>

    </div>

{% endblock %}
