// assets/styles/global.scss

// customize some Bootstrap variables
$primary: #007bff;
$body-tertiary-bg: $primary;
// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
