{% set theme = app.request.cookies.get('theme') %}
{% if theme == 'light' %}
    {% set theme = 'light' %}
{% elseif theme == '' %}
    {% set theme = 'light' %}
{% else %}
    {% set theme = 'dark' %}
{% endif %}
<!DOCTYPE html>
<html lang="fr" data-bs-theme="{{ theme }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="">
<header class="sticky-top bg-body-tertiary">
    {{ component('header') }}
</header>
<main class="mb-5 mt-5 container" role="main">
    {% block body %}{% endblock %}
</main>
<footer class="text-center  bg-body-tertiary sticky-bottom">
    {{ component('footer') }}
</footer>
</body>
</html>
