
    <p class="text-muted p-5 mb-0">
        <small>
            &copy;{{ 'now'|date('Y') }} &middot;
            Built with
            <span class="text-danger">&hearts;</span>
            by
            <a class="text-decoration-none text-white" href="https://benoitmenier.fr" target="_blank">@ Benoit Menier</a>
        </small>
    </p>

