{% set theme = app.request.cookies.get('theme') %}
{% if theme == 'light' %}
    {% set theme = 'light' %}
{% elseif theme == '' %}
    {% set theme = 'light' %}
{% else %}
    {% set theme = 'dark' %}
{% endif %}
{% trans_default_domain 'header' %}
<div{{ attributes }}>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_home') }}">Mon Agence</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'properties' %}active{% endif %}" href="">Acheter</a>
                    </li>
                </ul>

            </div>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    {# toogle for theme #}
                    {% if theme == 'light' %}
                        <a class="nav-link" href="{{ path('app_theme_dark') }}">
                            <i class="fa-solid fa-moon"></i>
                        </a>

                    {% else %}
                        <a class="nav-link" href="{{ path('app_theme_light') }}">
                            <i class="fa-solid fa-sun"></i>
                        </a>
                    {% endif %}
                </li>
                {% if app.user %}

                    <li class="nav-item">
                        <a href="{{ path('app_logout') }}" class="nav-link">Se deconnecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('app_register') }}" class="nav-link">S'inscrire</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_login') }}" class="nav-link">Se connecter</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
